div#apps
	h2 Featured:
	p A medium is Slowcial if it has a <b>social</b> (human to human) component and facilitates <b>unhurried & meaningful</b> interactions.
	div.row

		//- Established companies and communities
		a( target="_blank" href='https://www.quora.com/' )
			img( src="/assets/apps/quora.svg" )
			span A place to share knowledge and better understand the world.
		a( target="_blank" href='https://www.reddit.com/r/changemyview/' )
			img( src="/assets/apps/changemyview.jpg" )
			span A place to post an opinion you accept may be flawed, in an effort to understand other perspectives on the issue.

		//- Young companies
		a( target="_blank" href='https://www.life360.com/' )
			img( src="/assets/apps/life360.svg" )
			span Life360 brings your family closer with smart features designed to protect and connect the people who matter most.
		a( target="_blank" href='https://www.getrevue.co/' )
			img( src="/assets/apps/revue.svg" )
			span Revue is a commercial newsletter platform that moonlights as a personal-newsletter community favorite.
		a( target="_blank" href='https://www.kialo.com/' )
			img( src="/assets/apps/kialo.png" )
			span Kialo cuts through the noise typically associated with social and online media, making it easy to engage in focused discussion.

		//- Startups
		a( target="_blank" href='https://getdex.com/' )
			img( src="/assets/apps/getdex.svg" )
			span Dex is a personal CRM that gives you relationship superpowers.
		a( target="_blank" href='https://www.reflection.app/' )
			img( src="/assets/apps/holstee.jpg" )
			span Start a meaningful reflection practice with an online journal that guides your personal growth each month.
		a( target="_blank" href='https://www.ourfabriq.com/' )
			img( src="/assets/apps/fabriq.png" )
			span Intentionally invest in your people. Download Fabriq,the tracking app your real social life needs.

	a#submitapp( href="https://github.com/actuallymentor/slowcial-media/blob/master/CONTRIBUTING.md" ) Add an app to this list