div#endorse
	h2 Initiatives we endorse:
	p These are initiatives we are not affiliated with but whose focus and activity we apreciate.
	div.row
		a( target="_blank" href='https://www.humanetech.com/' )
			img( src="/assets/apps/humanetech_black.svg" )
			span As long as social media companies profit from outrage, confusion, addiction, and depression, our well-being and democracy will continue to be at risk.
			span It's time to change that.

		a( target="_blank" href='hhttps://lifeboat.com/' )
			img( src="/assets/apps/lifeboat.png" )
			span The Lifeboat Foundation is a nonprofit nongovernmental organization dedicated to encouraging scientific advancements while helping humanity survive existential risks and possible misuse of increasingly powerful technologies.
