div#quotes
	h2 About
	p How the platforms describe themselves.
	br
	div.row.col
		a( target="_blank" href='https://www.reddit.com/r/changemyview/' )
			img( src="/assets/apps/changemyview.jpg" )
			span CMV is a subreddit dedicated to civil discourse, and is built around the idea that in order to resolve our differences, we must first understand them. We believe that productive conversation requires respect and openness, and that certitude is the enemy of understanding.
			span.by ~ The CMV mods

		a( target="_blank" href='https://www.ourfabriq.com/' )
			img( src="/assets/apps/fabriq.png" )
			span Fabriq is a relationship tracker that helps you intentionally build better social habits and invest in more fulfilling and genuine connections with the people who matter most.
			span.by ~ Alexa Kuppers-Kantor, Creative Director & Co-Founder