$background-color: #efefef

body 
	// Override browser default padding and margin
	margin: 0
	padding: 0
	// Set font globally
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
	font-weight: 300
	font-display: swap
	// Sticky the footer
	display: flex
	min-height: 100vh
	flex-direction: column
	// Backgorund color
	background: $background-color
	// Box sizing
	* 
		box-sizing: border-box
	


main 
	// make footer sticky
	flex: 1 0 auto
	// Vertically align content
	display: flex
	align-items: center
	justify-content: flex-start
	flex-direction: column


	// ///////////////////////////////
	// Hero
	// ///////////////////////////////
	#hero
		width: 100%
		min-height: 900px
		display: flex
		align-items: center
		justify-content: center
		position: relative

		// BG
		// background: url( '/assets/hero.svg' )
		// background-repeat: no-repeat
		// background-size: cover
		// background-position: center

		// BG image
		svg
			min-width: 100%
			min-height: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			opacity: .5

		// Tagline
		#tagline
			position: absolute
			text-align: center
			max-width: 600px
			background: rgba( 63, 61, 85, 1)
			color: white
			padding: 1rem 3rem
			border-radius: 1rem
			box-shadow: 0px 5px 10px 5px rgba( 0, 0, 0, 0.2 )
			margin: 0 1rem

			// Typography
			h1
				font-weight: normal
				font-size: 3rem
			h2
				font-weight: lighter
				opacity: .8
				font-size: 2rem
				b
					color: #a5d6a7

#footer 
	// make the copyright notics less in your face
	text-align: center
	padding: 10px
	opacity: 0.6
	font-size: 13px
