- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang=content.lang )
	include pug/_header.pug
	body
		main
			div#hero
				include ./assets/hero.svg
				div#tagline
					h1 Slowcial Media
					h2 Platforms that foster <b>unhurried</b> and <b>meaningful</b> connection between humans
			div#manifesto
				h2 Manifesto
				p People deserve software that helps them <b>express the best parts</b> of their nature.
				p Creators of platforms that create interactions between people have a <b>responsibility to help</b> their users to be their best.
				p <b>Removing urgency</b> and thoughtless interactions is an important part of bringing out the best in people.
				
			include pug/_apps.pug
					
			

		include pug/_footer.pug