- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang=content.lang )
	include pug/_header.pug
	body
		main
			div#hero
				include ./assets/hero.svg
				//- img( src='/assets/hero.svg' )
				div#tagline
					h1 Slowcial Media
					h2 Platforms that foster <b>unhurried</b> and <b>meaningful</b> connection between humans
		include pug/_footer.pug