- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang=content.lang )
	include pug/_header.pug
	body
		main
			div#hero
				include ./assets/hero.svg
				//- img( src='/assets/hero.svg' )
				div#tagline
					h1 Slowcial Media
					h2 Platforms that foster <b>unhurried</b> and <b>meaningful</b> connection between humans
			div#apps
				h2 Featured:
				div.row
					a( target="_blank" href='https://getdex.com/' )
						img( src="/assets/apps/getdex.svg" )
						span Dex is a personal CRM that gives you relationship superpowers.
					a( target="_blank" href='https://www.reflection.app/' )
						img( src="/assets/apps/holstee.jpg" )
						span Start a meaningful reflection practice with an online journal that guides your personal growth each month.
					a( target="_blank" href='https://www.ourfabriq.com/' )
						img( src="/assets/apps/fabriq.png" )
						span Intentionally invest in your people. Download Fabriq,the tracking app your real social life needs.
			div#manifesto
				h2 Manifesto
				p Lorem	Ipsum
		include pug/_footer.pug